.myLoginForm{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    backdrop-filter: blur(30px);
    height: 400px;
    width: 300px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.myLoginForm h3{
    font-size: 30px;
    color: #abd1b5;
}
.myLoginForm p {
    margin-top: 15px;
    font-size: 12px;
}

.myLoginForm button {
    border: none;
    background: transparent;
    text-decoration: none;
    color: #abd1b5;
}

.myLoginForm button:hover{
    color: rgb(255, 87, 219);
}