.myBtn {
    border: none;
    background: transparent;
    opacity: 0.6;
    width: min-content;
    cursor: pointer;
    align-self: flex-end;
    justify-self: flex-start;
    padding: 0;
    margin: -20px -20px 0 0;
    text-align: center;
}

.myBtn:hover{
    opacity: 1;
}